body{
    font-family:arial, helvetica,sans-serif;
}



h1{
    font-size: 20px;
    color:blue;
    text-transfomr
}

h4,h5,h6{
    background-color: black;
    color:yellow;
    width:300px;
}

p{
    font-size:14px;
    font-family:arial, Helvetica,sans-serif;
    color:#030303;
}

#second-p{
    background-color: #dedede;
    color:#000000;
    font-size:12px;
}
/* btn selector*/
.btn{
    background-color:#006323;
    color: white;
    text-align:center;
}
/* utilities*/
.center{
    text-align: center;
}
.container-80{
    width: 80%;
}

/* lists*/
ul.test-ul{
    list-style-type: none;
    background-color: tomato;
}
ul.test-ul li{
    display: inline-block;
    background-color: yellowgreen;
    margin-bottom: 1px;
    padding:5px;
    color:white;
    border: 5px solid #006323;
}

ul.test-ul li:hover{
    background-color: #f8f5f5;
    color: rgb(18, 245, 215);
    font-size: 20px;
}


nav{
    background-color: violet;
    width: 100%;
    display: flex;
    justify-content: flex-end;
}
nav a{
    color: white;
    font-size: 18px;
    text-decoration: none;
    padding: 5px;
    margin-right: 10px;
}
nav a:hover{
    color:#d61d1d;
}
    















